

/******************           project section*****************/
.prjWrap{
    /*width: 1171px;*/
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 257px;
    background-color: #131313;
}
.projectsblock{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: #131313;
   
}
.projectInfo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 15px;
    padding-left: 5px;
    padding-top: 150px;
}

.projectInfoGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.projectInfoCell{
    display: flex;
    flex-direction: column;  
}
.pprojectDescrHdr{
    font-family: Yeseva One;
    font-size: 18px;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    color: #E3B873;
    padding-bottom: 1px;
    margin-bottom: 3px;
    }
.pprojectDescrTxt.noDisplay{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left; 
    color: #FFFF;   
    padding-top:1px;
    margin-top: 3px;
    display: none;
}
    

.pprojectDescrTxt.yesDisplay{
    font-family: Nunito Sans;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left; 
    color: #FFFF;   
    padding-top:1px;
    margin-top: 3px;
}

.projectHdrLnk.noDisplay{
    font-family: Yeseva One;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF4D;
    text-transform: uppercase;
}
.projectHdrLnk.yesDisplay{
    color: #E3B873;
    text-transform: uppercase;
}

.projectPicHdr{
    height: 105px;
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
    padding-bottom: 50px;
}

.spanPrjInfo{
    font-family: Nunito Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFF;
    
}

.projectPhotoPic.yesDisplay {
    display: block;
}

.projectPhotoPic.noDisplay {
    display:none;
}

.prj_pic2{
    display:none;
}


.smth_buttonish{
    padding-top: 55px;
    align-self: center;
}

.dots.yesDisplay {
opacity:1;
}

.dots.noDisplay {
    opacity: 0.2;
    }
    

.arrow{
    opacity:1;
}
.dotsplace {
    display: inline;
}